@model List<DMS.DAL.DatabaseContext.gallery>


<section id="portfolio" class="portfolio w3l-gallery">
    <div class="container">
        <div class="section-title">
            <h6 class="title-subw3hny mb-2"><span>Our Gallery</span></h6>
            <h3 class="title-w3l mb-2"> Recent Deliveries</h3>
        </div>

        <!--/grids-grids-->
        <ul class="gallery_agile mt-3">
            @foreach (var data in Model)
            {
                if (data.status == true)
                {
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="#">
                            <img src="@Url.Content(data.photo_path + "/" + data.photo_name)" alt=" " width="100%" class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3><i class="fas fa-search"></i></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                }
            }

        </ul>
        <!--//rids-grids-->
    </div>
</section>
